<div>
<%= link_to(restaurant.name, new_restaurant_reservation_path(restaurant.id))  %>
 <%= restaurant.address %>
 <%= restaurant.capacity %>
 <%= restaurant.menu %>
 <%= restaurant.summary %>
<%=  restaurant.price %>
<%=  restaurant.owner_id %>
<%=  restaurant.open_time %>
<%=  restaurant.close_time %>

</div>
