
<h1>Restaurants</h1>
  <%= link_to("New Restaurant", new_restaurant_path) %>
  <%= link_to("Back", restaurants_path) %>
  <%= link_to("Log in", sessions_new_path) %>
  <%= link_to("Create New User", new_user_path) %>



  <% @restaurants.each do |restaurant| %>

    <!-- <%= render restaurant %> -->

    <%= render partial: "restaurant", locals: { restaurant: restaurant } %>
  <% end %>
