<h1>Create New Restaurant</h1>


<%= form_for @restaurant do |f|%>

<p>
  <%= f.label :name %>
	<%= f.text_field :name %>
</p>

<p>
  <%= f.label :address %>
  <%= f.text_field :address%>
</p>

<p>
  <%= f.label :capacity %>
	<%= f.text_field :capacity%>
</p>

<p>
  <%= f.label :menu %>
  <%= f.text_field :menu %>
</p>

<p>
  <%= f.label :summary %>
  <%= f.text_field :summary %>
</p>

<p>
  <%= f.label :price %>
  <%= f.text_field :price %>
</p>



<p>
  <%= f.label :open_time %>
	<%= f.time_select :open_time,
  :minute_step =>30,
  :ampm => true %>
</p>

<p>
  <%= f.label :close_time %>
  <%= f.time_select :close_time,
  :minute_step =>30,
  :ampm => true %>
</p>

<p>
  <%= f.submit %>
</p>
  <% if @r.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
